@font-face {
  font-family: 'STK Bureau Sans';
  src: url('/fonts/STKBureauSans-Regular.woff2') format('woff2'),
       url('/fonts/STKBureauSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STK Bureau Sans';
  src: url('/fonts/STKBureauSans-Medium.woff2') format('woff2'),
       url('/fonts/STKBureauSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'STK Bureau Sans', system-ui, -apple-system, sans-serif;
  background-color: #f5f5f5;
  color: #1a1a1a;
}